.clock_container {
  height: 1.28rem;
  display: flex;
  align-items: center;
  .clock {
    //background-color: #ff4a58;
    //position: fixed;
    //left: 0.213rem;
    //right: 0;
    //top: 0.4rem;
  }
}