.tab_container {
  margin-bottom: 60px;

  .tabs {
    position: sticky;
    top: 48px;
    z-index: 99;
    background-color: #fff;
    color: #9F9F9F;
    font-weight: bolder;
    height: 46px;
    //line-height: 45px;

    padding: 10px 30px;

    .tabs_info {
      .tabs_info_item {
        border: none;
      }
    }
  }

  .announcement {
    width: inherit;
    height: 20px;
    .announcement_content {
      height: 20px;
      font-size: 12px;
    }
  }

  .tab_content {
    height: inherit;

    .content {
    }

    .attention_content {
      height: inherit;
      //height: 420px;
    }
  }

  //.swiper_container {
  //  .attention_content{
  //    color: #999999;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    font-size: 24px;
  //    user-select: none;
  //    height: 580px;
  //  }
  //  .content {
  //    //background-color: #c21616;
  //    color: #999999;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    font-size: 24px;
  //    user-select: none;
  //  }
  //}
}
