.recipes_detail {
  height: 100vh;
  overflow-y: scroll;
  .back_recommend_container {
    .back_recommend_button {

    }
  }

  .detail_content {
    //background-color: red;
    height: 1200px;
  }
}