.title_container {
  box-sizing: border-box;
  height: inherit;
  line-height: 1.28rem;
  width: 100%;
  .top_title {
    width: 38px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 38vw;
    transform: translate(-50%,0);
    font-size: 18px;
    font-weight: bold;
  }
}