:root:root {
  // 主题色
  --adm-color-primary: #19181a;
}
// 顶部固定
.topBar {
  height: 28px;
  // 多功能按钮
  .more_func {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
}
// 中间部分
.middleBar {
  margin-bottom: 53px;
  .content_div {
    margin: 5px auto 0;
    background-color: rgb(222, 139, 139);
    width: 100%;
    height: 150px;
  }
}
// 固定底部
.bottomBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  .tab-bar {
    background: #fff;
    .newIcon {
      position: relative;
      top: -10px;
      border-radius: 5px;
      background-color: #ff4a58;
    }
  }
}
